---
// Define the Astro component
const Header = ({ size = '1', title = '' }) => {
  let HeaderTag = `h`;
  return (
    <HeaderTag>
      <span>{title}</span>
    </HeaderTag>
  );
};
---

<Header size="1" title="This is a H1 header" />
<Header size="2" title="This is a H2 header" />
<Header size="3" title="This is a H3 header" />
<Header size="4" title="This is a H4 header" />
<Header size="5" title="This is a H5 header" />

<style>
/* Add any necessary CSS for your Header component here */
h1, h2, h3, h4, h5 {
  color: #333;
}
h1 span, h2 span, h3 span, h4 span, h5 span {
  color: #666;
}
</style>